<html>
  <head>
    <meta charset='utf-8'> 
    <title>503 - Service Unavailable</title>
    <link rel="stylesheet" type="text/css" href="<%=staticPrefix%>/error_handler/style.css" />
  </head>
  <body class="error503 light">
    <div id="wrapper">
      <h1>Service Unavailable</h1>
      <% if (showStackTrace) { %>
        <h2><em><%=statusCode%> - <%=scope%></em> <%=error%></h2>
      <% } %>
      <p style="margin-bottom:20px;width:600px">
        The service reports it's unavailable at this time. This has been logged
        and the appropriate people have been notified. Please check the 
        <a href="http://status.c9.io">Cloud9 status page</a> for more information.
      </p>
      
      <% if (showStackTrace) { %>
        <div class="stacktrace">
          <strong class="toggle" onclick="this.nextSibling.style.display=this.nextSibling.style.display == 'block' ? 'none' : 'block'">
            Click here to see extra information that can help us solve this problem:
          </strong><ul id="stacktrace" style="display:none">
            <% stack.forEach(function(line) { %>
              <li><%=line%></li>
          <% }); %>
          </ul>
        </div>
      <% } %>
      
      <a href="http://status.c9.io">Status Page</a> |
      <a href="mailto:support@c9.io">Support</a> |
      <a href="https://c9.io/dashboard.html">Dashboard</a> |
      <a href="https://c9.io/">Home</a>
    </div>
  </body>
</html>
