<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cloud9 Preview</title>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    </head>
    <body>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Content-Type</th>
            <th>Size</th>
            <th></th>
        </tr>
        <% if (!isRoot) { %>
            <tr>
                <td><a href="..">..</a></td>
                <td></td></td>
                <td></td>
            </tr>
        <% } %>
        <% entries.forEach(function(entry) { %>
            <tr>
                <td>
                    <span class="glyphicon <%= entry.mime == 'inode/directory' ? 'glyphicon-folder-close': 'glyphicon-file'%>"></span>
                    <a href="<%= global.escape(entry.name) %>"><%= entry.name %></a>
                </td>
                <td><%= entry.mime %></td>
                <td><%= entry.size %></td>
            </tr>
        <% }) %>
    </table>
    
    </body>
</html>