<html>
  <head>
    <meta charset='utf-8'> 
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="<%=staticPrefix%>/error_handler/style.css" />
  </head>
  <body class="error404 light">
    <div id="wrapper">
      <h1><%=title%></h1>
      <p style="margin-bottom:20px;width:540px">
        <%=message%>
      </p>

      <a href="http://status.c9.io">Status Page</a> |
      <a href="https://c9.io/support">Support</a> |
      <a href="https://c9.io/dashboard.html">Dashboard</a> |
      <a href="https://c9.io">Home</a>
    </div>
    <script>
        setTimeout(function() {
            window.location.reload();
        }, <%=retryIn%>)
    </script>
    
  </body>
</html>
